@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cormorant+Garamond:wght@500&family=Dancing+Script:wght@600&family=Montez&family=Permanent+Marker&family=Share+Tech+Mono&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    background-image: url('../images/the-nou-camp-1225210.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.game_container {
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 80%;
    max-width: 800px;
    height: 70%;
    align-items: centre;
    padding: 1%;
    display: flex;
    flex-direction: column;

}

.title_bar {
    margin-top: -5%;
    width: 100%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family:"permanent marker";
    transform: scale(1, 4);
}

.score_board {
    margin-top: 20px;
    width: 100%;
    height:8%;
    padding: 1% 0;
    background-color: rgba(184, 135, 11, 0.527);
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    font-size: 1.2rem;
}

.user_name {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content:space-around;
}

.cpu_name {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content:space-around;
}

.score {
    width: 15%;
    background-color: rgb(68, 204, 41);
    display: flex;
    justify-content:space-around;
}

.winner_result {
    margin-top: 40px;
    width: 100%;
    height:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    font-family: "Share Tech Mono";
    color: #7a0047;
    transform: scale(1, 3);

}

.game_field {
    width: 100%;
    height:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_choice_image {
    height:auto;
    width: 40%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#btn_play1 {
    width: 100px;
    height: 100px;
}

#btn_play2 {
    width: 100px;
    height: 100px;
}


.btn_user {

    border-radius: 50%;
    background-image: url('../images/rps/user.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.versus_column {
    height:auto;
    width: 10%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 1.5rem;
    font-family:"permanent marker";
}

.cpu_choice_image {
    height:auto;
    width: 40%;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.btn_cpu {

    border-radius: 50%;
    background-image: url('../images/rps/cpu.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.option_buttons {
    width: 100%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1rem;
}

.restart_game {
    width: 100%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1rem;
}

.restart_button {
	box-shadow: 3px 4px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:15px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.restart_button:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.restart_button:active {
	position:relative;
	top:1px;
}

.option_buttons button {

    border-color: rgb(0, 0, 0);
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transition: .3s;


}

.option_buttons button:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }

.btn_choice {
    width: 80px;
    height: 80px;
  }

.btn_rock {

    border-radius: 50%;
    background-image: url('../images/rps/rock.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.btn_paper {

    border-radius: 50%;
    background-image: url('../images/rps/paper.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.btn_scissors {

    border-radius: 50%;
    background-image: url('../images/rps/scissors.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.social_footer{
    width: 100%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1rem;
  }

.fa {
    padding: 7px 0px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
.display {
    display: none;
}


  .fa-facebook {
    background: #3B5998;
    color: white;
    width: 30px;
    height: 30px;
  }

  .fa-instagram {
    background: #d4007c;
    color: white;
    width: 30px;
    height: 30px;
  }

  .fa-youtube {
    background: #ff0000;
    color: white;
    width: 30px;
    height: 30px;
  }

  .fa-twitch {
    background: #3B5998;
    color: white;
    width: 30px;
    height: 30px;
  }

  .display_none {
      display: none;
  }



  @media screen and (min-width:760px) {

    .winner_result {
        margin-top: 50px;
        font-size: 1.5em;
        font-family: "Share Tech Mono";
        color: #7a0047;
        transform: scale(1.2, 1);
    
    }

    #btn_play1 {
        width: 200px;
        height: 200px;
    }
    
    #btn_play2 {
        width: 200px;
        height: 200px;
    }

    .versus_column {

        font-size: 5rem;
    }

    .title_bar {
        transform: scale(1.1, 4);
        letter-spacing: 10px; 
    
    
    }

}
